<footer>
            Static website generataor <a class="link-yellow" href="https://codeberg.org/hfsoulz/flow-static-web.git"> source code</a> is licensed
            the <a class="link-yellow" href="https://gnu.org/licenses/agpl-3.0.html">GNU AGPL</a>.
        </footer>
