                    <div class="screenshot-preview">
                        <a href="<%= screenshot.url %>/">
                            <img class="responsive-image" src="<%= screenshot.imageMin %>" alt="" />
                            <span class="screenshot-inset-shadow"></span>
                        </a>
                        <p class="screenshot-preview-description"><%= screenshot.title %>
                            <span class="hidden">.</span>
                        </p>
                    </div>

